<div class='footer' style="margin-bottom:0">
  <div class='container-fluid'>
    <div class='row'>
      <div class='col' align='center'>
        <h4>Manage Inventory</h4>
        <ul style='text-align:center; list-style-type:none; margin:0px; width:125px;' align='center'>
          <li routerLink='/woodFrames'>Wooden Frames</li>
          <li routerLink='/metalFrames'>Metal Frames</li>
          <li routerLink='/accessories'>Accessories</li>
        </ul>
      </div>
      <div class='col' align='center'>
          <h4>Other</h4>
        <ul style='text-align:center; list-style-type:none; margin:0px; width:80px;' align='center'>
          <li routerLink='/resources'>Resources</li>
          <li routerLink='/survey'>Survey</li>
        </ul>
      </div>
    </div>
  </div>
  <p style='margin: 0px; text-align:right; margin-right:5px;'>Copyright ® 2019 Frame App</p>
</div>
