
<div id='homepageMain'>
  <div class="jumbotron text-center" style="margin-bottom:0">
    <div id='jtronText'>
      <h1>Frame Shop Inventory Management</h1>
      <p>Manage the inventory of your frame shop!</p>
    </div>
  </div>

  <div class='container-fluid'>
    <div id='pageLinks' class='row'>
      <div class='col-sm pageLink' routerLink="/woodFrames">
        <h6 class='linkHeader'>Manage Wooden Frames</h6>
        <img class='linkImg' src='https://www.americanframe.com/Images/products/framecornerlarge/AT3332.jpg'>
      </div>
      <div class='col-sm pageLink' routerLink="/metalFrames">
        <h6 class='linkHeader'>Manage Metal Frames</h6>
        <img class='linkImg' src='https://www.americanframe.com/Images/products/framecornerlarge/R01.jpg'>
      </div>
      <div class='col-sm pageLink' routerLink="/accessories">
        <h6 class='linkHeader'>Manage Accessories</h6>
        <img class='linkImg' src='https://www.americanframe.com/images/products/medium/F9130.jpg'>
      </div>
    </div><br>
  <div class='col-md' style='border-radius: 15px;'>
      <p>This application makes is simple to manage the inventory of your frames and framing accessories.
        There is a dedicated page for each frame type (wooden and metal) and also, one for accessories.
        Your feedback and suggestions can help make this application better and more suited to your needs.
        Please don't hesitate to provide your feedback on the usage of this application, and suggestions by
        visiting the <a href='/survey'> survey</a> page. Your participation is greately appreciated.</p>
    </div>
  </div>
</div>
